<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration page</title>
    <link rel="stylesheet" href="style.css"> 
</head>
<body>
    <form id="regForm" action="/register" method="post" enctype="multipart/form-data">
        <h1>Registration</h1>
        <div style="overflow:auto;">
          <div style="float:right;">
            <select id="username" name="username">
              <option selected value={{username}}>{{username}}</option>
            </select>
          </div>
        </div>
    <div class="tab" id="address" >Address:
        <p><input placeholder="Flat/Door/Block No." name="fno"></p>
        <p><input placeholder="Street/Lane" name="lane"></p>
        <p><input placeholder="Area/Locality" name="area"></p>
        <p><input placeholder="State"  name="state"></p>
        <p ><input placeholder="Pincode" name="pincode"></p>
        <p><input placeholder="City"  name="city"></p>
      </div>

      <div style="overflow:auto;">
        <div style="float:right;">
          <button type="submit" class="button">Submit</button>
        </div>
      </div>
    </form>
</body>
</html>