<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration page</title>
    <link rel="stylesheet" href="style.css"> 
</head>
<body>

<form id="regForm" action="/register2" method="post" enctype="multipart/form-data">
  <h1>Registration</h1>
  <div class="tab">Basic Details:
    <p><input placeholder="Username" oninput="this.className = ''" name="username"></p>
    <p>{{validuserid}}</p>
    <p><input type="password" placeholder="Password" name="password"></p>
    <p><input type="password" placeholder=" Confirm Password" name=" confirmpassword"></p>
    <select name="securityquestion" id="securityquestion">
      <option selected>Choose a security question</option> 
      <option value="What is your pet name?">What is your pet name?</option>
      <option value="What was the name of your first school?">What was the name of your first school?</option>
      <option value="What is your all time favorite sports team?">What is your all time favorite sports team?</option>
      <option value="When did you first meet your spouse?">When did you first meet your spouse?</option>
    </select>
  </div>
    <p><input placeholder="Security Answer" name="securityanswer"></p>
  </div>

  <div style="overflow:auto;">
    <div style="float:right;">
      <button type="submit" class="button">Next</button>
    </div>
  </div>
</form>

</body>
</html>