<!DOCTYPE html>    
<html lang="en-US" dir="ltr">     
<head>   
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
    <title>Release general tickets</title>     
</head>    
<body>
      <form id = "Releasegtickets" action="/releasegtickets" method="post" enctype="multipart/form-data">
        <select name="trainno" id="trainno">
            <option selected>Select train number</option>
            {% for i in z %}
                <option value={{i[0]}}>{{i[0]}}</option>
            {% endfor %}
        </select>
        <input type="date" name="Date" id="Date" placeholder="Date">   
        <button type="submit" class="button">Release tickets</button>
      </form>
      <form id = "Logout" action="/" enctype="multipart/form-data">
        <div style="overflow:auto;">
            <div style="float:right;">
                <button class="button" type="submit">Logout</button>
            </div>
          </div>
      </form>
      <p>{{k}}</p>
</body>
</html>