<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ticket</title>
    </head>
<body>
    <h1>Ticket</h1>
    <br><br>
    PNR={{PNR}}
    Train no = {{trainno}}
    Train name = {{trainname}}
    <p>{{startstation}} ----> {{endstation}}</p>
    Date = {{date}}
    {% for i in range(c) %}
    Ticket No = {{tno[i]}}
    Name ={{name[i]}}
    age = {{age[i]}}
    sex = {{sex[i]}}
    food = {{food[i]}}
    Seat Number = {{seatno[i]}}
    {% endfor %}
    Price = {{price}}
    <br>
    <form id = "Logout" action="/" enctype="multipart/form-data">
        <div style="overflow:auto;">
            <div style="float:right;">
                <button class="button" type="submit">Logout</button>
            </div>
          </div>
    </form>
    <form id = "Home" action="/selecttrains" enctype="multipart/form-data">
        <div style="overflow:auto;">
            <div style="float:right;">
                <button class="button" type="submit">Return to home</button>
            </div>
          </div>
    </form>
</body>
</html>